<section class="container-fluid">
  <div class="row text-white">
    <div class="col-lg-12 d-flex justify-content-center align-items-center text-center header">
      <div>
        <div class="page-title pt-3 pb-4" >
          <p class="fs-1">Detailed Timed Report</p>
         
        </div>
        <p class="fs-4 fw-bold">Sam Campisano</p>
         <p class="fs-5">(2022-12-01 to 2022-12-05)</p>
      </div>
    </div>
  </div>
</section>

<section class="container pt-3 py-5 detailed-summary">
  <div class="row mb-3">
    <div class="col-lg-12 team-timesheet table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr class="">
            <th scope="col"></th>
            <th scope="col">Working Hrs</th>
            <th scope="col">Leave</th>
            <th scope="col">Total No Of Distance</th>
            <th scope="col">OT</th>
            <th scope="col">RS OFF</th>
            <th scope="col"><i class="fa fa-clock-o " aria-hidden="true"></i> Total Hrs</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="table-warning">
            <th scope="row">Sam Campisano</th>
            <td>27</td>
            <td>1</td>
            <td>82</td>
            <td>0</td>
            <td>2</td>
            <td>114</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-12 team-timesheet  table-responsive  ">
      <p></p>
      <table class="table table-bordered ">
        <thead class="table-dark">
          <tr class="text-center">
            <th scope="col" rowspan="2">Date</th>
            <th scope="col" colspan="2">Location</th>
            <th scope="col" rowspan="2">Kms</th>
            <th scope="col" rowspan="2">Time Spent</th>
            <th scope="col" rowspan="2">OT</th>
            <th scope="col" rowspan="2">RS OFF</th>
            <th scope="col" rowspan="2"><i class="fa fa-clock-o " aria-hidden="true"></i> Total Hrs</th>

          </tr>
          <tr class="">

            <th scope="col">From</th>
            <th scope="col">To</th>


          </tr>
        </thead>
        <tbody class="">
          <tr>
            <th scope="row" rowspan="3">2022-12-01</th>
            <td>Delhi</td>
            <td>Dehradun</td>
            <td>10</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Roorkee</td>
            <td>Agra</td>
            <td>5</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Agra</td>
            <td>Pune</td>
            <td>11</td>
            <td>5</td>
            <td>0</td>
            <td>0</td>
            <td>16</td>
          </tr>

          <!-- 2nd COL -->
          <tr>
            <th scope="row" rowspan="2">2022-12-02</th>
            <td>Delhi</td>
            <td>Dehradun</td>
            <td>10</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Roorkee</td>
            <td>Agra</td>
            <td>5</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>8</td>
          </tr>


          <!-- 3RD COLUMNS -->
          <tr>
            <th scope="row" rowspan="3">2022-12-03</th>
            <td>Delhi</td>
            <td>Dehradun</td>
            <td>10</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>14</td>
          </tr>
          <tr>
            <td>Roorkee</td>
            <td>Agra</td>
            <td>5</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Agra</td>
            <td>Pune</td>
            <td>11</td>
            <td>5</td>
            <td>0</td>
            <td>0</td>
            <td>16</td>
          </tr>

          <!-- 4th columm -->
          <tr class="table-danger">
            <th scope="row">2022-12-04</th>
            <td colspan="2">Sick Leave</td>
            <td colspan="4">I am down with fever and flu because of which I will not be able to come to the office.
            </td>

            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Leave Document
              </button></td>
          </tr>

          <!-- 5th Column -->

          <!-- 2nd COL -->
          <tr>
            <th scope="row" rowspan="2">2022-12-05</th>
            <td>Delhi</td>
            <td>Dehradun</td>
            <td>10</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Roorkee</td>
            <td>Agra</td>
            <td>5</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>8</td>
          </tr>

          <!-- 6h columm -->
          <tr class="table-success fs-5 fw-bold">
            <td  colspan="3">Total</td>
            <td>82</td>
            <td>27</td>
            <td>0</td>
            <td>2</td>
            <td>114</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>


  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fs-5" id="staticBackdropLabel">Sam : Sick Leave (2022-12-04) </p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img
            src="https://www.hrcabin.com/wp-content/uploads/2022/05/Physical-fitness-certificate-format-download-word-and-PDF.png"
            width="100%" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <div class="icon-bar">
    <a href="#" class="goback"><i class="fa fa-arrow-circle-o-left fs-1" aria-hidden="true"></i></a> 
  </div>