<section class="container-fluid">
  <div class="row text-white">
    <div class="col-lg-12 d-flex justify-content-center align-items-center text-center header">
      <div>
        <div class="page-title pt-3 pb-4">
          <p class="fs-1">Detailed Timed Report</p>

        </div>
        <p class="fs-4 fw-bold">{{this.personName}}</p>
        <p class="fs-5">({{this.from}} to {{this.to}})</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pt-3 py-5 detailed-summary ">
  <div class="row mb-3">
    <div class="col-lg-12 team-timesheet table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr class="">
            <th scope="col"></th>
            <th scope="col">Ordinary Hrs</th>
            <th scope="col">Time & a Half</th>
            <th scope="col">Double Time</th>
            <th scope="col">Triple Time</th>
            <th scope="col">RD0</th>
            <th scope="col">Personal/Carers Leave</th>
            <th scope="col">Annual Leave</th>
            <th scope="col">Public Holiday</th>
            <th scope="col">Other Unpaid Leave</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="table-warning" *ngFor="let dataHrs of headTimesheetData; index as i">
            <th scope="row" class="fs-5">{{headTimesheetData[0]._id}}</th>
            <td class="text-center">{{headTimesheetData[0].ordinaryHour}}</td>
            <td class="text-center">{{headTimesheetData[0].timeAndAHalf}}</td>
            <td class="text-center">{{headTimesheetData[0].doubleTime}}</td>
            <td class="text-center">{{headTimesheetData[0].tripleTime}}</td>
            <td class="text-center">{{headTimesheetData[0].rdoHours}}</td>

            <td class="text-center">{{headTimesheetData[0].personalAndCares}}</td>
            <td class="text-center">{{headTimesheetData[0].annualleave}}</td>

            <td class="text-center">{{headTimesheetData[0].publicHoliday}}</td>
            <td class="text-center">{{headTimesheetData[0].unpaidleave}}</td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-12 team-timesheet  table-responsive  ">
      <p></p>
      <table class="table table-bordered ">
        <thead class="table-dark">
          <tr class="text-center">
            <th scope="col" rowspan="2">Date</th>
            <th scope="col" colspan="2">Location</th>
            <th scope="col" rowspan="2">Kms</th>
            <th scope="col" rowspan="2">Time Spent</th>
            <!-- <th scope="col" rowspan="2"><i class="fa fa-clock-o " aria-hidden="true"></i> Total Hrs</th> -->

          </tr>
          <tr class="">

            <th scope="col">From</th>
            <th scope="col">To</th>


          </tr>
        </thead>
        <tbody class="">
          <ng-container *ngFor="let data of sheetDismantleData; index as i ">
            <tr class="">
              <td scope="row" class="fw-bold">{{sheetDismantleData[i].date | date}}</td>
              <ng-container *ngIf="sheetDismantleData[i].isLeave == 'No'">
                <td>{{sheetDismantleData[i].details[1].from}}</td>
                <td>{{sheetDismantleData[i].details[1].to}}</td>
                <td class="fw-bold text-center">{{sheetDismantleData[i].details[1].kms}}</td>
                <td class="fw-bold text-center">{{sheetDismantleData[i].details[1].timespent}}</td>
              </ng-container>
              <ng-container *ngIf="sheetDismantleData[i].isLeave == 'Yes'">
                <td colspan="1" class="text-red">{{sheetDismantleData[i].details[1].typeOfLeave}}</td>
                <td colspan="2" class="text-red">{{sheetDismantleData[i].details[1].leaveDetails}}</td>
                <td>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdrop' + i" >
                    Leave Document 
                  </button>

                  <!-- Modal -->
                  <div class="modal  fade" id="staticBackdrop{{i}}" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <p class="modal-title fs-5" id="staticBackdropLabel">{{this.personName}} :
                            {{sheetDismantleData[i].details[1].typeOfLeave}} ({{sheetDismantleData[i].date | date}})</p>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src={{sheetDismantleData[i].details[1].leaveDetails}} width="100%" alt="">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>


                </td>

              </ng-container>


            </tr>



          </ng-container>
          <tr class="table-success fs-5 fw-bold">
            <td colspan="3">Total</td>
            <td class="text-center">{{this.totalKms}} kms</td>
            <td class="text-center">{{this.totalTimespent}} hrs</td>
          </tr>

          <!-- 4th columm LEAVE-->
          <!-- <tr class="table-danger">
            <th scope="row">2022-12-04</th>
            <td colspan="2">Sick Leave</td>
            <td colspan="2">I am down with fever and flu because of which I will not be able to come to the office.
            </td>

            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Leave Document
              </button></td>
          </tr> -->

        </tbody>
      </table>
    </div>
  </div>

</section>




<div class="icon-bar">
  <a href="#" class="goback"><i class="fa fa-arrow-circle-o-left fs-1" aria-hidden="true"></i></a>
</div>